<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="csvService" class="ru.diasoft.nixson.service.CSVServiceImpl"></bean>

    <bean id="questionDao" class="ru.diasoft.nixson.dao.QuestionDaoImpl">
        <constructor-arg name="path" value="/questions.csv"></constructor-arg>
        <constructor-arg name="csvService" ref="csvService"></constructor-arg>
    </bean>
    <bean id="questionService" class="ru.diasoft.nixson.service.QuestionServiceImpl">
        <constructor-arg name="dao" ref="questionDao"></constructor-arg>
    </bean>
    <bean id="ViewService" class="ru.diasoft.nixson.service.ViewServiceImpl">
        <constructor-arg name="service" ref="questionService"></constructor-arg>
    </bean>
</beans>